<% provide(:title, 'About Us') %>
    <h1>About Us</h1>
    <p>
      The QVB Project is a project by Eric Posner, Kirkland &amp Ellis Distinguished Service Professor of Law at the University of Chicago, and Glen Weyl, Assistant Professor in Economics at the University of Chicago.
    </p>