<div class="center hero-unit">
  <h1>Welcome to the QVB Project</h1>

  <h2>Pareto efficient solutions to problems in corporate governance</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>