<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the QVB Project, <%= @user.name %></h1>
    <p>
      You have successfully signed up to the QVB Project.<br/>
    </p>
    <p>
      To login to the site, just follow this <a href="https://fast-ocean-5079.herokuapp.com/signin">link</a>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>